<div class="container">
<div class="row top">
  <div class="col">
    <h1 id="h1">VEHICLE LIST</h1>
    <h4 id="h4">Click the VIN No. for readings and alerts </h4>
  </div>
</div>


<table class="table">
  <thead>
  <tr>

    <th>VIN</th>
    <th>MAKE</th>
    <th>MODEL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehiclesObservable | async">

      <td><a [routerLink]="['/vehicles', vehicle.vin]">{{vehicle.vin}}</a></td>
      <td>{{vehicle.make}}</td>
      <td>{{vehicle.model}}</td>


  </tr>
  </tbody>
</table>
</div>





